#!/bin/bash

cleanup() {
  rm -rf "$HOME/{{ anaconda_installer_script }}"
}

# cleanup on exit
trap cleanup EXIT

# fetch anaconda
curl -sLo "$HOME/{{ anaconda_installer_script }}" "{{ anaconda_installer_url }}"

# Set permissions
chmod 755 "$HOME/{{ anaconda_installer_script }}"

# run the installer
bash $HOME/{{ anaconda_installer_script }} -b -p {{ anaconda_install_dir }}
