#!/bin/bash

cleanup() {
  rm -rf "$HOME/{{ miniconda_installer_script }}"
}

# cleanup on exit
trap cleanup EXIT

# fetch miniconda
curl -sLo "$HOME/{{ miniconda_installer_script }}" "{{ miniconda_installer_url }}"

# Set permissions
chmod 755 "$HOME/{{ miniconda_installer_script }}"

# run the installer
bash $HOME/{{ miniconda_installer_script }} -b -p {{ miniconda_install_dir }}
